# 1. Chặn các thư mục thư viện và file build
/node_modules/
.env

# 2. Chặn toàn bộ thư mục models_saved của tất cả các version
/model/*/models_saved/

# 3. Chặn các định dạng file nặng không cần thiết
*.h5
*.onnx
*.pth
*.pycache
encoder/__pycache__/